::-webkit-scrollbar { 
    display: none; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
body{
    width: 100%;
    margin: 0 auto;
    background-image: url('img/2.jpg');
    background-size: 100%;
    background-position:  center;
    font-family: Arial, Helvetica, sans-serif;
}

.log{
    width:70%;
    height:80%;
    float: left;
    margin-left: 15%;
    margin-top: 5%;
    background: rgba(255, 255, 255, 0.6);
    border-radius:10px;
}

.nin{
    width:30%;
    height:80%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    border-radius:5px;
    border-right: 3px solid gray;
}

z{
    font-family: 'Century Gothic';
    font-size: 10px;
}

.nin img{
    width: 95%;
    margin-top: 30%;
}

.yah{
    width:59%;
    height:80%;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    border-radius:5px;
    border-left: 3px solid gray;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 80%;
    margin-left:10%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
    background: orangered;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid orangered;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: orangered;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-left:10%;
    opacity: 0.8;
  }
  
  .btn:hover {
    opacity: 1;
  }

  h1{
      margin-left: 10%;
      margin-top: 10%;
  }

  .ad{
      width: 20%;
      background-color: #001a33;
      height:100%;
      float: left;
  }

  

  .min{
    width: 80%;
    background-color: #d9d9d9;
    height:100%;
    float:right;
  }

  .nav{
      width: 100%;
      height: 9%;
      background-color: #bfbfbf;
      float:left;
  }

  .nav img{
    width: 5%;
    height: 80%;
    margin-left: 1%;
    margin-top: .5%;
    float:left;
  }

  h3{
      margin:0;
      padding-top: 2%;
  }

  i{
    font-size:100px;
    color:#bfbfbf;
    float:left;
    margin-top:10%;
    margin-left: 30%;
  }

  h{
    margin:0;
    padding-top: 5%;
    color:#bfbfbf;
    font-size: 20px;
    float:left;
    margin-left: 25%;
}

.adnav1{
    width:100%;
    height:30%;
}

.adnav2{
    width:100%;
    height:70%;
}

.adnav11{
    width: 15%;
    height: 100%;;
    float:left;
}

.adnav22{
    width: 85%;
    height: 100%;
    float:right;
}

n{
    color:#bfbfbf;
    font-size: 18px;
    float:left; 
}

.buttonadmin{
    width:100%;
    height:8%;
    float: left;
    background-color: #001a33;
    outline: none;
    border: none;
}

m{
    color:white;
    font-size: 15px;
    float:left; 
}

.adnav22 .buttonadmin:hover{
    width:100%;
    height:8%;
    float: left;
    color:white;
    font-weight: bold;
    background-color: orangered;
    opacity: 0.8;
    border-left : 3px solid #F1AE12  ;
}


.c{
    margin-left: 100%;
}

iframe{
    width: 99.5%;
    height: 100%;

}

.nav2{
    width:100%;
    height:100%;
    background-color: white;
}


o{
  font-family: Arial;
  font-size: 30px;
}

mn{
  font-family: Arial;
  font-size: 70px;
  color: orangered;
}

mm{
  font-family: Arial;
  font-size: 70px;
  color: white;
}
table{
  width: 80%;
  margin-top: 2%;
  border-collapse: collapse;
}
tr{
  width: 100%;
  height: 40px;
}
td{
  width: 20%;
  height: 40px;
  font-family: arial;
  font-size: 20px;
  text-align: center;
}

#tellertab{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

#tellertab td{
  border: 1px solid orangered;
  padding: 8px;
  }
.paysub{
  width: 20%;
  height:8%;
  background-color: orangered;
  color: white;
  font-family: arial;
  font-size: 30px;
  /*float: left;
  margin-left: 42.5%;*/
  border: 0px;
  margin-top: 5%;
  border-radius: 3px;
}

