::-webkit-scrollbar { 
    display: none; 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input:focus{
    outline: none;
}
body{
    width: 100%;
    margin: 0 auto;
    background-image: url('../img/bg.jpg');
    background-size: 100%;
    background-position:  center;
    background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x:hidden;
}

x{
	font-family: Arial;
	font-size: 50px;
	text-align: center;
	margin-left: 4%;
}


h{
	font-family: Arial;
	font-size: 40px;
	text-align: center;
	margin-left: 4%;
}

v{
	font-family: Arial;
	font-size: 40px;
	text-align: center;
}

.nin{
	width: auto;
	height: auto;
	margin-left: 0%;
	margin-top: 5%;
}

.pac{
	width: auto;
	height: auto;
}



.nin1{
	width: 90%;
	height: 90%;
	margin-left: 7%;
	margin-top: 5%;
}

#tellertab td{
	border: 1px solid orangered;
	padding: 8px;
  }

  #tellertab{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}



l{
	font-family: Arial;
	font-size: 400%;
	padding-left: 15%;
}

t{
	font-family: Arial;
	font-size: 330%;
	padding-left: 4%;
}

k{
	font-family: Arial;
	font-size: 50px;
	text-align: center;
}

m{
	font-family: Arial;
	font-size: 70px;
	color: white;
}

.buttonask1{
	width: 30%;
	height:20%;
	float: left;
	margin-left: 13%;
	background-color: orangered;
	border-radius: 3px;
	margin-top: 3%;
	border: 0px;
}
.buttonask2{
	width: 30%;
	height:20%;
	float: right;
	margin-right: 12%;
	background-color: orangered;
	border-radius: 3px;
	margin-top: 3%;
	border: 0px;
}

.pay1{
	width: 30%;
	height:10%;
	background-color: orangered;
	color: white;
	font-family: arial;
	font-size: 30px;
	float: left;
	margin-left: 15%;
	border: 0px;
	border-radius: 3px;
}
.pay2{
	width: 30%;
	height:10%;
	background-color: orangered;
	color: white;
	font-family: arial;
	font-size: 30px;
	float: right;
	margin-right: 15%;
	border: 0px;
	border-radius: 3px;
}

.not{
	
	width: 100%;
	
	margin-top: 5%;
}

.payfield1{
	width: 25%;
	float: left;
	margin-left: 16%;
	margin-top: 2%;
	border: 0px;	
	border-radius: 3px;
}

.payfield2{
	width:25%;
	float: right;
	margin-right: 20%;
	margin-top: 2%;
	border: 0px;
	border-radius: 3px;
}

.payfield{
	width:100%;
	float: left;
}

.paytf{
	width: 115%;
	height: 50px;
	font-family: arial;
	font-size: 20px;
	border: 2px solid orangered;
	margin-top: 2%;
}

.numbertf{
	width: 90%;
	height: 70px;
	font-family: arial;
	font-size: 50px;
	border: 2px solid orangered;
	margin-top: 2%;
}

.paysub{
	width: 17%;
	height:10%;
	background-color: orangered;
	color: white;
	font-family: arial;
	font-size: 30px;
	float: left;
	margin-left: 42.5%;
	border: 0px;
	margin-top: 5%;
	border-radius: 3px;
}

.numsub{
	width: 20%;
	height:15%;
	background-color: orangered;
	color: white;
	font-family: arial;
	font-size: 45px;
	float: left;
	margin-left: 40%;
	border: 0px;
	margin-top: 5%;
	border-radius: 3px;
}

.paycancel{
	width: 17%;
	height:10%;
	background-color: orangered;
	color: white;
	font-family: arial;
	font-size: 30px;
	float: left;
	margin-left: 42.5%;
	border: 0px;
	margin-top: 2%;
	border-radius: 3px;
}


table{
	width: 80%;
	margin-left: 10%;
	margin-top: 2%;
	border: 3px solid orangered;
}
tr{
	width: 100%;
	height: 50px;
	border-top: 3px solid orangered;
}
td{
	width: 20%;
	height: 50px;
	font-family: arial;
	font-size: 30px;
	text-align: center;
	border-top: 3px solid orangered;
}

.disp1{
    margin: 0%;
    width: 75%;
    height: 15%;
}

.buttonadmin1{
	width: 30%;
	height:25%;
	float: left;
	margin-left: 13%;
	background-color: orangered;
	border-radius: 3px;
	margin-top: 3%;
	border: 0px;
}

.buttonadmin2{
	width: 30%;
	height:25%;
	float: right;
	margin-right: 12%;
	background-color: orangered;
	border-radius: 3px;
	margin-top: 3%;
	border: 0px;
}

d{
	font-family: arial;
	font-size: 40px;
	text-align: center;
	color: white;
}

.create{
	width: 100%;
	height: 50px;
	font-family: arial;
	font-size: 23px;
	border: 2px solid orangered;
	margin-top: 2%;
}

.createe{
	width: 10%;
	height: 50px;
	font-family: arial;
	font-size: 23px;
	border: 2px solid orangered;
	margin-top: 2%;
}

.create1{
	width: 30%;
	margin-top: .5%;
	float:left;
	margin-left: 17%;
}
.create2{
	width: 30%;
	margin-top: .5%;
	float:right;
	margin-right: 17%;
}

r{
	font-family: arial;
	font-size: 24px;
	float: left;
	margin-left: 27%;
	margin-top: .5%;
}

.paycreate{
	width: 100%;
	height:50px;
	background-color: orangered;
	color: white;
	font-family: arial;
	font-size: 30px;
	margin-top: 1%;
	border-radius: 3px;
}

